li{
    text-align: left;
    position:static;
}

.bulletDescription{
    font-size: 16px;
    text-align: justify;
    font-weight: lighter;
    font-style: italic;
    transition: all 1s linear;
    display: block;
}

.hide {
    display:none;
    transition: all 1s linear;
}
.pulse {
    animation: pulse-animation 2s infinite;
  }

  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }


.notaTitle{
    position: relative;
    
}
.notaTitle:before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg,rgb(222, 222, 222) 0%, rgb(255, 196, 0) 180%);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.notaTitle:hover:before{
    visibility: visible;
    width: 75%;
    
}
