.navbar{
    background: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;  
    top:0;
    z-index: 999;
}

.navbar.active{
background: linear-gradient(90deg,rgb(222, 222, 222) 0%, rgb(255, 196, 0) 180%);
}