.footerImg{
    background-image: url("../../assets/img/Dev.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: rgb(37, 37, 37);
}
.tittle{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #00000091;
}
.icon{
    color: wheat;
    margin-left: 30px;
    
    
}
.back{
    background-color: rgba(56, 56, 56, 0.548);
    box-shadow: none;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.651);
}
